<%page expression_filter="h" args="online_help_token" />
<%!
from django.conf import settings
from django.utils.translation import gettext as _
%>
<%namespace file="sock_links.html" import="get_sock_links" />

<div class="wrapper-sock wrapper">
  

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock" aria-labelledby="sock-heading">
      <h2 id="sock-heading" class="title sr-only">${_("{studio_name} Documentation").format(studio_name=settings.STUDIO_NAME)}</h2>
      <%
        links = get_sock_links()
      %>
      <div class="support">
        
      </div>
    </section>
  </div>
</div>
